{% extends "base.html" %}

{% block content %}
  <div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h1>Position List</h1>
      <a href="{% url 'task_manager:position-create' %}" class="btn btn-primary">
        Create Position
      </a>
    </div>
    {% if position_list %}
      <div class="list-group">
        {% for position in position_list %}
          <div class="list-group-item">
            <div class="d-flex w-100 justify-content-between align-items-center">
              <h5 class="mb-1">{{ position.name }}</h5>
              <div class="btn-group" role="group" aria-label="Position Actions">
                <a href="{% url 'task_manager:position-detail' pk=position.id %}" class="btn btn-info">
                  Assignees
                </a>
                <a href="{% url 'task_manager:position-update' pk=position.id %}" class="btn btn-secondary">
                  Update
                </a>
                <a href="{% url 'task_manager:position-delete' pk=position.id %}" class="btn btn-danger">
                  Delete
                </a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <div class="alert alert-warning mt-4" role="alert">
        There are no positions!
      </div>
    {% endif %}
  </div>
{% endblock %}
