{% extends "base.html" %}

{% block content %}
  <h1>
    {{ task.name }}
    <a href="{% url 'task_manager:task-delete' pk=task.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'task_manager:task-update' pk=task.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>
  <p><strong>Description:</strong> {{ task.description }}</p>
  <p><strong>Type:</strong> {{ task.task_type.name }}</p>

  <h1>
    Assignees:

    {% if task in user.assigned_tasks.all %}
      <a href="/" class="btn btn-danger link-to-page">
        Delete me from this task
      </a>
    {% else %}
      <a href="/" class="btn btn-success link-to-page">
        Assign me to this task
      </a>
    {% endif %}

  </h1>
  <hr>
  <ul>
    {% for assign in task.assignees.all %}
      <li>{{ assign.username }} ({{ assign.first_name }} {{ assign.last_name }})</li>
    {% endfor %}
  </ul>
{% endblock %}
