{% extends "base.html" %}

{% block content %}
  {% if task_list %}
    <ul>
      {% for task in task_list %}
        <li>
          <a href="{% url "task_manager:task-detail" pk=task.id %}">{{ task.id }}</a>
          <h2>{{ task.name }}</h2>
          <h4>Description: {{ task.description }}</h4>
          Deadline: {{ task.deadline }} (task.priority)
          Task type: {{ task.task_type.name }}
          Assigned by: {{ task.assignees.username }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no Task!</p>
  {% endif %}
{% endblock %}
