{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center">
      <h1>Your tasks list</h1>
      <a href="{% url 'task_manager:task-create' %}" class="btn btn-primary">
        Create Task
      </a>
    </div>
    <form action="" method="get" class="form-inline">
      {{ search_form|crispy }}
      <input class="btn btn-secondary" type="submit" value="Search">
    </form>
    {% if worker_tasks %}
      <div class="list-group mt-4">
        {% for task in worker_tasks %}
          <a href="{% url 'task_manager:task-detail' pk=task.id %}" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ task.name }}</h5>
              <small>Deadline: {{ task.deadline }}</small>
            </div>
            <p class="mb-1">Description: {{ task.description }}</p>
            <small>Type: {{ task.task_type.name }}</small>
            <br>
            <small>Assigned by: {{ task.assignees.username }}</small>
          </a>
        {% endfor %}
      </div>
    {% else %}
      <div class="alert alert-warning mt-4" role="alert">
        You don't have any tasks!
      </div>
    {% endif %}
  </div>
{% endblock %}
